body {
    background-image: url(../recursos/imagenes/15734-NQG5LW.jpg);
}

fieldset{
    width: 350px;
    position: relative;
}

#busq{
    margin-left: 8em;
    margin-top: 3em;
    margin-bottom: 5em;
}

#pnlRut{
    margin-left: 4em;
    margin-bottom: 2em;
    margin-right: 6em;
}

#pnlNomb{
    margin-left: 4em;
    margin-bottom: 2em;
}

#pnlEdad{
    margin-left: 4em;
    margin-right: 6em
}

#fldBtnForm{
   text-align: right;
   margin-top: -8em;
   margin-right: 15%;
}

#btnForm{
    margin-left: 4em;
}
