body {
    background-image: url(../recursos/imagenes/15734-NQG5LW.jpg);
 }

#Content2{
    text-align: center;
}

#tabla{
    box-shadow: lightblue 5px 5px;
    border: 1px solid;
}

#tbl {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}

th{
    background-color: steelblue;
    color: whitesmoke;
    padding-left: auto;
}

.btn-round {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.btn-round.btn-lg {
    width: 48px;
    height: 48px;
}

.inline{
    width: auto;
    text-align: center;
    margin-bottom: 2em;
}

#txtCodigo, #txtTratam, #txtFecha, .txtPaciente{
    font-weight: 600;
    font-size: 19px;
    padding-left: 2em;
    margin-top: 2em;
    width: 120px
}

.lblCodigo, .lblTratam, .lblFecha, .lblPaciente{
    margin-left: 2em;
    width: auto;
}

#check{
    text-align: center;
}

#btnOk{
    text-align: center;
    margin-top: 2em;

}