body {
    background-image: url(../recursos/imagenes/15734-NQG5LW.jpg);
 }

#Content2{
    text-align: center;
}

#txtCod{
    padding-right: 3em;
    text-align: center;
}

#txtFecha{
    text-align: center;
}

#txtPac{
    width: 350px;
}

#tabla{
    box-shadow: lightblue 5px 5px;
    border: 1px solid;
}

#tbl {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}

th{
    background-color: steelblue;
    color: whitesmoke;
    text-align: center;
}

td{
    background-color: ghostwhite;
    border: 0.5px dotted;
}

.btn-round {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.btn-round.btn-lg {
    width: 48px;
    height: 48px;
}

.inline{
    width: auto;
    text-align: center;
    margin-bottom: 2em;
}

#pnlInp{
    margin-top: 6em;
    margin-right: 10em;
    margin-left: 13em
}

#pnlTrat{
    width: 20%;
    margin: 0 auto;
}

#check{
    text-align: center;
}

#btnOk{
    text-align: center;
    margin-top: 2em;

}

#tituloMod{
    background-color: steelblue;
    color: whitesmoke;
}

#logobuscar{
    width: auto;
}

#cuadrobuscar{
    width: 150px;
}

fieldset{
    margin-top: 6em
}

#pnlCant{
    width: auto;
}

#txCant, #txHrs, #txDia{
    width: 50px;
    text-align: center;
}

#Label2{
    margin-left:70px;
}

#Label4, #Label5, #Label6, #Label7{
    margin-left:15px;
}